/** Add css rules here for your application. */


.nameCellNEW, .nameCellMODIFYED, .nameCellUNCHANGED, .nameCellFAIL {
	font-family: Verdana;
}

.nameCellNEW {
	color: #32CD32;
}

.nameCellMODIFYED {
	color: #1E90FF;
}

.nameCellUNCHANGED {
	color: black;
}

.nameCellFAIL {
	color: red;
}


.topLabel, .errorLabel {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0px 10px;
  text-align: center;
  font-family: Verdana;
}

.topLabel {
  color: #777777;
}

.errorLabel {
  color: maroon;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

