<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <listener>
  	<listener-class>
  		ru.lsv.torrentchecker.server.TorrentCheckerService
  	</listener-class>
  </listener> 	

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>ru.lsv.torrentchecker.server.GreetingServiceImpl</servlet-class>
    <init-param>
        <param-name> storagePath </param-name>
        <param-value> J:/!/ </param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/torrentchecker/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TorrentChecker.html</welcome-file>
  </welcome-file-list>

</web-app>
